AWID-CLS-R-Trn/
AWID-CLS-R-Tst/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore temporary or system files
.DS_Store
*.swp
*.swo

awid_pipeline.py
Multiclass_classification_using_76_feature .ipynb
Traditional ML on AWID Dataset.ipynb
test.ipynb